form {
    padding: 30px;
    width: 100%;
    max-width: 600px;
    height: 100%;
    margin: auto;
    background-color: beige;
}

label {
    display: block;
    margin-bottom: 8px;
    color: black;
}

.password-container {
    position: relative;
    width: 100%;
}

input {
    width: calc(100%);
    padding: 13px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
}

.password-checkbox {
    position: absolute;
    top: 25%;
    right: 0%;
    left: 45%;
    transform: translateY(-50%);
}

button {
    background-color: brown;
    color: #fff;
    padding: 13px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    width: 60%;
    margin-left: 120px;
    margin-bottom: 50px;
}

button:hover {
    background-color: beige;
    border-color: brown;
    border-width: 2px;
    border-style: solid;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-align: center;
    color: black;
}

.icon {
    width: 200px;
    border-radius: 50%;
    margin-left: 200px;
}

/*BACK BUTTON*/
.back-button {
    border-width: 2px;
    position: fixed;
    top: 100px;
    left: 20px;
    padding: 8px 16px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: beige;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    color: black;
  }
  
  .back-button:active {
    transform: translateY(1px);
  }

  /*header, footer*/

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
html, body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: beige;
    color:black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header, footer {
    background-color: brown;
    color: white;
    padding: 10px;
    justify-content: space-between;
    padding-right: 10%;
}
header{
    height: 85px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.headerStyle img{
    margin-top: 10px;
    margin-right: 0px;
    float: left;
    height: 50px;
}
.headerText{
    font-size: 30px;
    margin-top: 12px;
    font-weight: bold;
}
footer{
    position: relative;
    z-index: 1; 
}

footer > p {
    text-align: center;
}