body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    padding: 30px;
    width: 100%;
    max-width: 600px;
    height: 100%;
    margin: auto;
    background-color: beige;
}

label {
    display: block;
    margin-bottom: 8px;
    color: black;
}

.password-container {
    position: relative;
    width: 100%;
}

input {
    width: calc(100%);
    padding: 13px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
}

.password-checkbox {
    position: absolute;
    top: 25%;
    right: 0%;
    left: 45%;
    transform: translateY(-50%);
}

button {
    background-color: brown;
    color: #fff;
    padding: 13px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    width: 60%;
    margin-left: 120px;
}

button:hover {
    background-color: beige;
    border-color: brown;
    border-width: 2px;
    border-style: solid;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-align: center;
    color: black;
}

.icon {
    width: 200px;
    border-radius: 50%;
    margin-left: 200px;
}