body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: beige;
}

h1 {
    color: #333;
}

form {
    background: rgb(165,42,42);
    background: linear-gradient(0deg, beige 10%, brown 100%);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    height: 600px;
    margin: auto;
}

label {
    display: block;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background-color: brown;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
    background-color: beige;
    border-color: brown;
    border-width: 2px;
    border-style: solid;
    color: black;
}

h1 {
    text-align: center;
    color: black;
}

a {
    text-decoration: none;
    color: inherit; 
}
